// hue 500 = UI Branding colors
// ui-gold #FFCD00
// ui-black #000000

$ui-gold: (
  50: #fff9e0,
  100: #fff0b3,
  200: #ffe680,
  300: #ffdc4d,
  400: #ffd526,
  500: #FFCD00,
  600: #ffc800,
  700: #ffc100,
  800: #ffba00,
  900: #ffae00,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe8bf,
  A700: #ffdfa6,
  contrast: (
    50: rgba(0, 0, 0, 0.87), 
    100: rgba(0, 0, 0, 0.87), 
    200: rgba(0, 0, 0, 0.87), 
    300: white, 
    400: white, 
    500: rgba(255, 255, 255, 0.87), 
    600: rgba(255, 255, 255, 0.87), 
    700: rgba(255, 255, 255, 0.87), 
    800: rgba(255, 255, 255, 0.87), 
    900: rgba(255, 255, 255, 0.87), 
    A100: rgba(0, 0, 0, 0.87), 
    A200: white, 
    A400: white, 
    A700: rgba(255, 255, 255, 0.87)
    )
 );

$ui-black: (
  50: #000000,
  100: #000000,
  200: #eeeeee,
  300: #333333,
  400: #767676,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: rgba(69,72,87, 0.45), 
    100: rgba(69,72,87, 0.65), 
    200: rgba(69,72,87, 0.85), 
    300: white, 
    400: white, 
    500: rgba(69,72,87, 0.45), 
    600: rgba(255, 255, 255, 0.87), 
    700: rgba(255, 255, 255, 0.87), 
    800: rgba(255, 255, 255, 0.87), 
    900: rgba(255, 255, 255, 0.87), 
    A100: rgba(0, 0, 0, 0.87), 
    A200: white, 
    A400: white, 
    A700: rgba(255, 255, 255, 0.87)
    )
);