@use "@angular/material" as mat;

@import "/src/assets/scss/mixins";
@import "/src/assets/scss/custom-palette";
@import "/src/assets/scss/variables";
@import '/src/assets/scss/common';

@include mat.core();

$workspace-app-primary: mat.define-palette($ui-black);
$workspace-app-accent: mat.define-palette($ui-gold, A200, A100, A400);
$workspace-app-warn: mat.define-palette(mat.$red-palette);

$workspace-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $workspace-app-primary, 
            accent: $workspace-app-accent, 
            warn: $workspace-app-warn
        ),
    )
);

@include mat.all-component-themes($workspace-app-theme);