<section class="container" fxLayout="column">
    <h2>Project Requirement Samples</h2>
    <div>
        <mat-list>
            <h3>Dance Marathon Requirements</h3>
            <mat-list-item>
                Donations App - Angular Updates 
            </mat-list-item>
            <mat-list-item>
                Family Relations App - provide more in-depth training & hands on support 
            </mat-list-item>
            <mat-list-item>
                General Support
            </mat-list-item>
            <mat-list-item>
                All Apps - maintenance and updates to current applications - current Gitlab list of issue
            </mat-list-item>
            <mat-list-item>
                Dispatch - complete the clean up and organization for Dispatch
            </mat-list-item>
            <mat-list-item>
                Admin App - get feedback and make plans for check-in feature (evaluation & planning) 
            </mat-list-item>
            <mat-list-item>
                Family Relations App - updates and maintenance for Family Relations 
            </mat-list-item>
            <mat-list-item>
                Donations App - Database merge for old DM to new DM 
            </mat-list-item>
            <mat-list-item>
                Registration App - add participant year (or high school, other or N/A options), year in DM & Major 
            </mat-list-item>
            <mat-list-item>
                Admin App <br />
                - finish and update admin features including setting roles <br />
                - add event section 
            </mat-list-item>
            <mat-list-item>
                Captains need to see a list of miracle group members, the members fundraising totals, members contact info, notify captain when a new member is added 
            </mat-list-item>            
            <mat-list-item>
                Dancer Profile <br />
                - add the donor list <br />
                - make the dance picture upload and edit feature more user friendly <br />
                - We will support a wide variety of image file formats
            </mat-list-item>
        </mat-list>

        <mat-list class="mt-5">
            <h3>V.A.L.I.D. Requirements</h3>
            <mat-list-item>
                <p matLine>A student can open the chrome extension</p>
                <p matLine>a. Allows for authentication with their HawkId</p>
                <p matLine>b. UI/UX for landing page</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine>A student can install the extension in their browser </p>
                <p matLine>a. Gather developer license </p>
                <p matLine>b. Explore Team City Deployment</p>
                <p matLine>c. Deploy code to store </p>
              </mat-list-item>
              <mat-list-item>
                <p matLine>A student can manually enter their assessment: a URL to the article, the author, and provide a value for each component of the CRAAP test   </p>
                <p matLine>a. UI/UX </p>
                <p matLine>b. Form allowing users to enter data: Include URL on assessment form view & Include the author input on the assessment form view  </p>
                <p matLine>c. Form validation for entered data </p>
              </mat-list-item>
              <mat-list-item>
                <p matLine>A student can save their assessment in our database  </p>
                <p matLine>a. Database schema defined </p>
                <p matLine>b. Assessment components are saved by api </p>
                <p matLine>c. Assessment components are saved to the database when entered into the front end application</p>
              </mat-list-item>
              <mat-list-item>
                A student can view assessment data for a single article/site 
              </mat-list-item>
              <mat-list-item>
                A student can view all article assessments saved in the database 
              </mat-list-item>
              <mat-list-item>
                A student can view all assessments saved in the database sorted by top level domain 
              </mat-list-item>
              <mat-list-item>
                A student can view all assessments saved in the database sorted by author 
              </mat-list-item>
              <mat-list-item>
                A developer can deploy the code on university infrastructure with minimum number of steps 
              </mat-list-item>
        </mat-list>
    </div>
</section>  